@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700");

body{
    background-image: url(../img/fondoVioleta.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Inter;
    font-weight: 700;
}

.title{
    font-size: 45px;
}

nav{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex-wrap: wrap;
}
li{
   list-style: none;
}
li{
    list-style-type: none;
}
.ListaArtista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ListaAlbum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ImagenesAlbum{
    height: 100px;
    width: 100px;  
}
