body{
    background-image: url(../img/fondoVioleta.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imagenes{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.ListaArtista{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.ImagenesAlbum{
    height: 0px;
    width: 100px;
}
