@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700");

*{
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: black;
}
body{
    /* background-image: url(../img/fondoVioleta.avif); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Inter;
    font-weight: 700;
    background-color: black;
    color: blueviolet;
}

header{
    background-color: blueviolet;
    color: black;
}

.barra{
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid black;
}

h1{
    margin-left: 15px;
    font-size: 45px;
    margin-bottom: 0px;
}

h2{
    margin-left: 15px;
}


.lupita{
    width: 25px;
    height: 35px;
    background-image: url(../img/lupa.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 8px;
}

#busqueda{
    margin-right: 0px;
}

.nav1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navegacion{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content:flex-end;
}

.nav2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex-wrap: wrap;
}
li{
    list-style: none;
    list-style-type: none;
    padding: 10px;
}
.ListaArtista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.liartista{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 142px;
}

.ListaAlbum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ImagenesAlbum{
    height: 100px;
    width: 100px;  
}


.SectionGenres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}




.ulfoot21{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ulfoot2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: smaller;
}


footer{
    background-color: blueviolet;
    color: black; 
}